*{
    box-sizing: border-box;
}
body, ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* 링크 초기화 */
a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}
header>div{
    width: 1000px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    background-color: beige;
    text-align: center;
    margin: 0 auto;
}
.topMenu{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    background-color: midnightblue;
}
.topMenu>ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.topMenu li{

}
.topMenu>ul>li>a{
    width: 100%;
    text-align: center;
    color: white;
}

footer{
    width: 1000px;
    height: 75px;
    line-height: 75px;
    background-color: beige;
    text-align: center;
    margin: 0 auto;
}